
<div class="parallax"></div>



<div class="container mb-4" id="container">
    <div class="row">
        
      <div class="col-sm mt-3" data-aos="zoom-in" data-aos-duration="1500">
        <img class="card-img h-75 " src="/assets/Residential.jpg" alt="Card image"/>

      </div>
      <div class="col-sm">
        <div class="card-body-right ms-4">
          <h4 class="card-title" style="color: black; font-size: 40px; margin-bottom: 20px; font-weight: 1000;" data-aos="zoom-in-down" data-aos-duration="1500">Residential Turnkey Project</h4>
          <!-- <p class="card-text" style="word-spacing: 6px" data-aos="fade-left" data-aos-duration="1500">
            Our professionals are capable of providing a complete feel of the desired ambiance with their in-depth domain 
            expertise and extensive knowledge in the field. Our services are being known for features like artistically 
            developed having an amazing match of colors. 
                </p> -->
               <P class="card-text" style="word-spacing: 6px" data-aos="fade-up-left" data-aos-duration="1500"> By definition,
                 a turnkey interior design contract is an integrated solution where one person controls and manages the entire 
                 interior design project from start to finish; Themes are important because once the client and designer have agreed upon a particular theme, then a lot of 
                 unnecessary leg work can be avoided. Not everyone has the ability to understand what a client wants, his tastes, his requirements and what not. There are many options to pick a theme depending on
                  your lifestyle and location. </P>

                <p class="card-text" style="word-spacing: 6px" data-aos="fade-up" data-aos-duration="1500">Ideas come and go and innovations are routine in the field of 
                  interior design. At the most reasonable price, we will upgrade with the best idea and our innovative services in the field of theme-based interior
                  designing and this quality of our service makes 
                  us the Best Theme Based Interior work Designer in the concerned arena.
                </p>

                <p class="card-text" style="word-spacing: 6px" data-aos="fade-up" data-aos-duration="1500">We believe Interior Designing is a combination of art and architecture,
                   where every inch of space is utilized to make your home to look awesome. We do this by carefully analyzing the space and blend them with your ideas, giving your 
                   home a new modern look. We work on specialize in designing your Interiors. Right from giving you ideas to start with, provide all viable options that suits your 
                   budget and converting these ideas into reality.
                </p>
          
        </div>
    </div>
      
      </div> 
</div>

