
  <!-- <nav class="navbar navbar-expand-lg navbar-light " [class.header_change]=header_variable>
  
   
  
    <div class="container-fluid ">
     
      <a class="navbar-brand" href="#" id="navbar-brand" > 
        <img src="/assets/WeD!D.png" alt=""  >
      </a>
      <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation" >
      <i class="fas fa-bars"></i>
    </button>
    
      <div class="collapse navbar-collapse " id="navbarNav" onclick="hideSidebar()" data-target=".nav-collapse" >
        <ul class="navbar-nav   ms-auto " >
          <li class="nav-item ms-5 " >
          <b>  <a class="nav-link " aria-current="page" href="#" >Home</a> </b>
          </li>
          <li class="nav-item ms-5">
          <b>  <a class="nav-link js-scroll-trigger" href="" routerLink="about" >About</a> </b>


          <li class="nav-item dropdown ms-5">
            <b> <a class="nav-link dropdown-toggle " href="#" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              Services
             </a>
             <ul class="dropdown-menu  "  aria-labelledby="navbarDropdown"  >
              <li><a class="dropdown-item " href=""  routerLink="commercial" >Commercial Turnkey Projects</a></li>
              <li><a class="dropdown-item"  href="" routerLink="residentail" >Residential Turnkey Projects</a></li>
              <li><a class="dropdown-item" href="" routerLink="office" >Office Turnkey Projects</a></li>
              <li><a class="dropdown-item" href="" routerLink="building" >Building Renovation works</a></li>
              <li><a class="dropdown-item" href="" routerLink="pre-fab" >Pre-fab Warehouse Projects</a></li>
            </ul>
             </b>
           </li>

          
          <li class="dropdown ms-5">
            <b> <a class="nav-link dropdown-toggle " href="#" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
               Portfolio
             </a>
             <ul class="dropdown-menu  cursor: pointer" aria-labelledby="navbarDropdown">
               <li><a class="dropdown-item" href="" routerLink="our-portfolio" >Our-Portfolio</a></li>
               <li><a class="dropdown-item" href="" routerLink="corporate" >Corporate Portfolio</a></li>
               <li><a class="dropdown-item" href="" routerLink="residentail-portfolio" >Residential Portfolio</a></li>
             </ul>
             </b>
           </li>
          <li class=" ms-5">
           <b> <a class="nav-link js-scroll-trigger" href="" routerLink="contact" >Contact Us</a> </b>
          </li>
         
          
         
        </ul>
       
    
      
      </div>
    </div>
  </nav> -->


   <nav class="navbar navbar-expand-lg navbar-light  " [class.header_change]=header_variable>
  
    <div class="container-fluid">
      <a class="navbar-brand" href="#" id="navbar-brand" > 
        <img src="/assets/WeD!D.png" alt=""  >
      </a>
      
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav" onclick="hideSidebar()" data-target=".nav-collapse">
 
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link active ms-5" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-5" href="about"  >About</a>
          </li>
    
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle ms-5"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
            Services
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item " href="commercial"   >Commercial Turnkey Projects</a></li>
              <li><a class="dropdown-item"  href="residentail"  >Residential Turnkey Projects</a></li>
              <li><a class="dropdown-item" href="office"  >Office Turnkey Projects</a></li>
              <li><a class="dropdown-item" href="building"  >Building Renovation works</a></li>
              <li><a class="dropdown-item" href="pre-fab"  >Pre-fab Warehouse Projects</a></li>
            </ul>
          </li>

          <li class="dropdown ms-5">
            <b> <a class="nav-link dropdown-toggle " href="#" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
               Portfolio
             </a>
             <ul class="dropdown-menu  cursor: pointer" aria-labelledby="navbarDropdown">
               <li><a class="dropdown-item" href="our-portfolio"  >Our-Portfolio</a></li>
               <li><a class="dropdown-item" href="corporate"  >Corporate Portfolio</a></li>
               <li><a class="dropdown-item" href="residentail-portfolio"  >Residential Portfolio</a></li>
             </ul>
             </b>
           </li>

          <li class="nav-item">
            <a class="nav-link ms-5 "  href="contact"
              >Conatct-Us</a
            >
          </li>
        </ul>

      </div>

    </div>

  </nav> 

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" routerLink="commercial">Commercial</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>

              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" routerLink="about">About us</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->


