.rounded-circle img{
    height: 20rem;
    margin-left: 20px;
}
.container {
    width: 100% !important;
}
.fab{
    color: black  !important;
    width: 100%;
    height: 100%;
}
.text{
    color: rgb(9, 63, 36);
}
.form-outline-white
{
    width: 200px !important;
}
.ps-5 {
    padding-left: 0rem!important;
}

.ms-5 {
    margin-left: 0rem!important;
}
.position-absolute {
    margin-left: 210px;
}
.footer-copyright label{ 
    color: rgb(0, 0, 0);
    margin-left: 150px;
    
}
.footer-copyright a
{
    color: rgb(0, 0, 0);
    margin-left: 520px;
}


@media (max-width:540px)
{
    .form-outline-white {
        margin-left: 30px;
        width: 249px !important;
    }
    #text-center{
        font-size: 25px !important;
    }
    .form-outline-white label{
        margin-left: 50px !important;
    }
    .form-outline-white input{
        margin-left: 30px !important;
    }
    .footer-copyright label
    {
        margin-left: -10px !important;
    }
    .footer-copyright a{
        margin-left: 450px;
    }
    
}
