


<div id="header">

</div>
<!-- <br><br><br> -->

<div class="container  " id="container">
  <div class="row">
    <div class="col-sm animate__animated animate__fadeInLeft"    >
      <img class="card-img h-75" src="/assets/About.jpg" alt="Card image" />
    </div>
    <div class="col-sm">
      <div class="card-body-right ms-4">
        <h4 class="card-title" style="color: black; ;" class= "animate__animated animate__fadeInRight" >Our Story</h4>
        <p class="card-text" style="word-spacing: 5px; " data-aos="zoom-in-left" data-aos-duration="400">""Leading interior <b> Details Interior <b>&</b> Design </b> company in Middle East for over 14 years, Now expanding our footprints in Bangalore over 8 years, We have been breaking all creativity boundaries and redefining interior design services by providing beautiful living spaces and creating purposeful masterpieces enriched with comfort, convenience, and flamboyance.

          Endeavoring to create interior designs that inspire and leave visitors in awe, we have transformed Homes, Offices , Corporate spaces, Restaurants, and Hotels into environments as unique as our clients themselves. Serving people who are big on taste and desire only the best for their properties, we offer innovative interiors that are designed and built on your personalized preferences.
          
          With a long heritage of extraordinary creativity, unmatched craft, and an impeccable standard of service, we empower you with the freedom to enjoy stylish adornments with modern amenities of life.
          
          We have proven to be one of the region's most trusted interior Design companies by delivering world-class outcomes with aesthetically superior durability.
          
          For over a decade, We are providing Interior solutions to both residential and commercial clients in Middle East. Using the finest materials and employing the highest quality craftsmanship, we deliver outcomes that are marked by aesthetic individuality, superior durability, and unmatched convenience.
          
          </p>
        
      </div>
       </div>
    </div> 
</div>
 
  <br><br>
  <br>




  <div class="text-center mb-4 pb-2" style="color: #ef803b;">
    <i class="fas fa-quote-left fa-3x " ></i>
  </div>

  <div class="container mt-5 mb-5">
    <div class="row text-uppercase">
      <div class="col-md card">
        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-1de99fa0" data-id="1de99fa0" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-element-10e508ab wavo-transform transform-type-translate elementor-widget elementor-widget-heading" data-id="10e508ab" data-element_type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
          <h4 class="elementor-heading-title elementor-size-default" data-aos="fade-down-right" data-aos-duration="1500">OUR PURPOSE</h4>		
          </div>
          </div>
          <div class="elementor-element elementor-element-e1990aa wavo-transform transform-type-translate elementor-widget elementor-widget-heading" data-id="e1990aa" data-element_type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
          <p class="elementor-heading-title elementor-size-default" data-aos="zoom-in-right" data-aos-duration="1500"><br>Through our designs, we believe have the power to transform lives. 
          Our&nbsp;Social Mission&nbsp;compels us to use our Company in innovative ways to make the world a better place.</p>		</div>
          </div>
            </div>
          </div>
      </div>
      <div class="col-md card">
        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-76899656" data-id="76899656" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-element-3fb9f2bd wavo-transform transform-type-translate elementor-widget elementor-widget-heading" data-id="3fb9f2bd" data-element_type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
          <h4 class="elementor-heading-title elementor-size-default" data-aos="fade-up" data-aos-duration="1500">our goals</h4>		</div>
          </div>
          <div class="elementor-element elementor-element-1e6e346 wavo-transform transform-type-translate elementor-widget elementor-widget-heading" data-id="1e6e346" data-element_type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
          <p class="elementor-heading-title elementor-size-default" data-aos="zoom-in-up" data-aos-duration="1500"><br>Our top goal is to provide a hassle-free experience to all our customers. To become the World's most trusted Interior Design Brand is something we are constantly striving toward.</p>		</div>
          </div>
            </div>
          </div>
      </div>
      <div class="col-md card">
        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2f321586" data-id="2f321586" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-element-17d81d4 wavo-transform transform-type-translate elementor-widget elementor-widget-heading" data-id="17d81d4" data-element_type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
          <h4 class="elementor-heading-title elementor-size-default" data-aos="fade-down-left" data-aos-duration="1500">our values</h4>		</div>
          </div>
          <div class="elementor-element elementor-element-68d0e32 wavo-transform transform-type-translate elementor-widget elementor-widget-heading" data-id="68d0e32" data-element_type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
          <p class="elementor-heading-title elementor-size-default" data-aos="fade-up-left" data-aos-duration="1500"><br>Quality service is our utmost priority. We believe in focusing on the user and all else will follow. Our other core values include integrity, teamwork, passion, consistency and commitment to customers.</p>		</div>
          </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="text-center mb-4 pb-2">
    <i class="fas fa-quote-right fa-3x " style="color: #ef803b;" ></i>
  </div>
<br><br><br>


  <!-- <section class="feature_section">
    <div class="container">
      <div class="split">
        <div class="card">
          <img data-lazyloaded="1" src="https://weadesign.com/wp-content/uploads/2022/11/Price-Match-Guarantee.svg"
           data-src="https://weadesign.com/wp-content/uploads/2022/11/Price-Match-Guarantee.svg" alt="" 
           loading="lazy" width="60" height="60" data-ll-status="loaded" class="entered litespeed-loaded">
           <noscript>
            <img src="https://weadesign.com/wp-content/uploads/2022/11/Price-Match-Guarantee.svg" alt="" 
            loading="lazy" width="60" height="60">
          </noscript>
          <h3 class="sub_heading">Price Match Guarantee</h3>
          <p>We promise to give you the lowest quotation in market for the best quality.</p>
        </div>
        <div class="card">
          <img data-lazyloaded="1" src="https://weadesign.com/wp-content/uploads/2022/11/Customized-Design.svg"
           data-src="https://weadesign.com/wp-content/uploads/2022/11/Customized-Design.svg" alt="" loading="lazy" 
           width="60" height="60" data-ll-status="loaded" class="entered litespeed-loaded">
           <noscript>
            <img src="https://weadesign.com/wp-content/uploads/2022/11/Customized-Design.svg" alt="" loading="lazy" 
            width="60" height="60">
          </noscript>
          <h3 class="sub_heading">Customized Design</h3>
          <p>We treat every project as unique, and we start each project with fresh eyes and ideas while reflecting 
            the heart and soul of our clients.</p>
          </div>
          <div class="card">
          <img data-lazyloaded="1" src="https://weadesign.com/wp-content/uploads/2022/11/Hassel-free-Experience.svg"
           data-src="https://weadesign.com/wp-content/uploads/2022/11/Hassel-free-Experience.svg" alt="" 
           loading="lazy" width="60" height="60" data-ll-status="loaded" class="entered litespeed-loaded">
           <noscript>
            <img src="https://weadesign.com/wp-content/uploads/2022/11/Hassel-free-Experience.svg" alt="" 
            loading="lazy" width="60" height="60">
          </noscript>
          <h3 class="sub_heading">Hassel-free Experience</h3>
          <p>Design meets reality here and we have an unassailable to ensure a complete execution to perfection.
            le proce</p>
          </div>
        </div>
      </div>
    </section> -->




<div class="container mb-5">
  <div class="row">
    <div class="col">
      <div class="elementor-widget-wrap elementor-element-populated w-75 ms-5">
        <div class="elementor-element elementor-element-b30104a elementor-widget elementor-widget-spacer" data-id="b30104a" data-element_type="widget" data-widget_type="spacer.default">
  <div class="elementor-widget-container">
 
    <div class="elementor-spacer">
  <div class="elementor-spacer-inner"></div>
  </div>
  </div>
  </div>
  <section class="wavo-column-gap-default elementor-section elementor-inner-section elementor-element elementor-element-afd854a elementor-section-boxed elementor-section-height-default elementor-section-height-default wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no" data-id="afd854a" data-element_type="section" data-settings="{&quot;_ha_eqh_enable&quot;:false}">
    <div class="elementor-container elementor-column-gap-default">
  <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-358d1e0" data-id="358d1e0" data-element_type="column">
  <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-3e9a446 wavo-transform transform-type-translate elementor-widget elementor-widget-heading" data-id="3e9a446" data-element_type="widget" data-widget_type="heading.default">
  <div class="elementor-widget-container">
  <h2 class="elementor-heading-title elementor-size-default " data-aos="flip-up" data-aos-duration="1500">Our Expertise</h2>		</div>
  </div>
  </div>
  </div>
      </div>
  </section>

  
  <div class="elementor-element elementor-element-3919a2b elementor-widget elementor-widget-progress" data-id="3919a2b" data-element_type="widget" data-widget_type="progress.default">
  <div class="elementor-widget-container">
  <style>
  .elementor-widget-progress{text-align:left}.elementor-progress-wrapper{position:relative;
  background-color:#eee;color:#fff;height:100%;border-radius:2px}.elementor-progress-bar
  {display:-webkit-box;display:-ms-flexbox;display:flex;background-color:#818a91;width:0;font-size:11px;
  height:20px;line-height:20px; margin-bottom: 15px;
  border-radius:20px;-webkit-transition:width 1s ease-in-out;
  -o-transition:width 1s ease-in-out;transition:width 1s ease-in-out}.elementor-progress-text{-webkit-box-flex:1;
  -ms-flex-positive:1;flex-grow:1;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;
  padding-left:15px}.elementor-progress-percentage{padding-right:15px}.elementor-widget-progress 
  .elementor-progress-wrapper.progress-info .elementor-progress-bar{background-color:#EF803B}
  .elementor-widget-progress .elementor-progress-wrapper.progress-success .elementor-progress-bar{background-color:#5cb85c}
  .elementor-widget-progress .elementor-progress-wrapper.progress-warning .elementor-progress-bar{background-color:#f0ad4e}
  .elementor-widget-progress .elementor-progress-wrapper.progress-danger .elementor-progress-bar{background-color:#d9534f}
  .elementor-progress .elementor-title{display:block}@media (max-width:767px){.elementor-progress-text{padding-left:10px}}
  .e-con-inner .elementor-progress-wrapper,.e-con .elementor-progress-wrapper{height:auto}</style>			
  <span class="elementor-title rounded-pill " data-aos="fade-up-right" data-aos-duration="800">Commercial Turnkey Project</span>
  
  <div class="elementor-progress-wrapper progress-info rounded-pill" role="progressbar" aria-valuemin="0" aria-valuemax="100" 
  aria-valuenow="95" aria-valuetext="">
  <div class="elementor-progress-bar" data-max="95" style="width: 95%;">
  <span class="elementor-progress-text "></span>
          <span class="elementor-progress-percentage">95%</span>
      </div>
  </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-a3976c2 elementor-widget elementor-widget-progress" 
  data-id="a3976c2" data-element_type="widget" data-widget_type="progress.default">
  <div class="elementor-widget-container">
    <span class="elementor-title " data-aos="fade-up-right" data-aos-duration="800" >Residential Turnkey Project </span>
  
  <div class="elementor-progress-wrapper progress-info rounded-pill" role="progressbar" aria-valuemin="0" aria-valuemax="100" 
  aria-valuenow="95" aria-valuetext="">
  <div class="elementor-progress-bar" data-max="95" style="width: 90%;">
  <span class="elementor-progress-text"></span>
          <span class="elementor-progress-percentage">90%</span>
      </div>
  </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-2b6ce83 elementor-widget elementor-widget-progress" data-id="2b6ce83" data-element_type="widget" data-widget_type="progress.default">
  <div class="elementor-widget-container">
    <span class="elementor-title" data-aos="fade-up-right" data-aos-duration="800">Office Turnkey Projects </span>
  
  <div class="elementor-progress-wrapper progress-info rounded-pill" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="98" aria-valuetext="">
  <div class="elementor-progress-bar" data-max="98" style="width: 98%;">
  <span class="elementor-progress-text"></span>
          <span class="elementor-progress-percentage">98%</span>
      </div>
  </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-ab0634a elementor-widget elementor-widget-progress" data-id="ab0634a" data-element_type="widget" data-widget_type="progress.default">
  <div class="elementor-widget-container">
    <span class="elementor-title" data-aos="fade-up-right" data-aos-duration="800"> Building Renovation Works</span>
  
  <div class="elementor-progress-wrapper progress-info rounded-pill" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="99" aria-valuetext="">
  <div class="elementor-progress-bar" data-max="99" style="width: 99%;">
  <span class="elementor-progress-text"></span>
          <span class="elementor-progress-percentage">99%</span>
      </div>
  </div>
  </div>
  </div>
  </div>
    </div>
    <div class="col ms-5">


       <!-- contact section start -->
    <div class="container contact">
      
         
      <div class="contact-title">
        <h1 data-aos="flip-right" data-aos-duration="1500"> Contact-Us</h1>
        
    </div>
          <div class="contact-form">
            
              <form action="#">
                  <div class="input-field ">
                      <input type="text" placeholder="Your name" autocomplete="off" required>
                  </div>

                  <div class="input-field">
                      <input type="email" placeholder="Your email" autocomplete="off" required>
                  </div>

                  <div class="input-field">
                      <input type="number" placeholder="Phone number" autocomplete="off" required>
                  </div>

                  <div class="input-field">
                      <select name="cars" id="cars" required>
                          <option value="new">New client</option>
                          <option value="existing">Existing</option>
                      </select>
                  </div>

                  <div class="textarea-field">
                      <textarea name="textarea" id="textarea" placeholder="Your message" required></textarea>
                  </div>

                  <div class=" button-field  " data-aos="zoom-in-up" data-aos-duration="1000">
                      <button type="submit">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
    
  </div>
</div>

















