
#header
{
 
  width: 100%;
  height: 90vh;
  background: url(/assets/Contact.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


/* Contact
----------------- */
 .contact {
    
    font-family: 'Kanit', sans-serif;
    
}

/* .contact-wrap {
    color: #444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
} */

/* .contact-address {
    margin-right: 5rem;
    width: 36%;
    height: auto;
} */

/* .contact-title h1,.contact-info h3 {
    color: #000000;
} */

.contact-title p {
    font-size: 18px;
    width: 90%;
}

.contact-info div {
    margin-top: 2rem;
}

.contact-info div h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-info div h3 strong {
    margin-left: 0rem;
}

.contact-info div p {
    font-size: 1.2rem;
}

.contact-form {
    width: 60%;
    height: auto;
}

.contact-form form {
    width: 100%;
    height: auto;
}

.contact-form form .input-field {
    width: 100%;
    height: 48px;
    margin-bottom: 2rem;
}

.contact-form form .input-field input,
.contact-form form .input-field select {
    padding: 0 1rem;
    color: rgb(78, 76, 76);
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0.1rem 0.1rem 0.6rem #ddd;
    box-shadow: 0.1rem 0.1rem 0.6rem #ddd;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* input[type=number] {
    -moz-appearance: textfield;
} */

.contact-form .textarea-field {
    height: 220px;
    width: 100%;
}

.textarea-field textarea {
    padding: 1rem;
    font-size: 1.2rem;
    height: 200px;
    width: 100%;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0.1rem 0.1rem 0.6rem #ddd;
    box-shadow: 0.1rem 0.1rem 0.6rem #ddd;
}

.button-field {
    margin-top: 0.8rem;
}


.button-field button {
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 1px;
    width: 100%;
    height: 52px;
    background: #ef803B;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 


.z-depth-1-half iframe{
    width: 100%;
    height: 100% !important;
    margin-bottom: 100px;
} 



@media screen and (max-width: 550px) {
    #header{
        height: 60vh;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    .contact-form .input-field{
        width: 300px !important;
    }
    .contact-form .textarea-field {
        width: 300px !important;
    }
    .contact-form .button-field{
        width: 300px;
        
    }
    
}

