

<div id="header"></div>


    <!-- contact section start -->
    <div class="container contact ">
        <div class="contact-wrap mt-5">
            <div class="row">
              <div class="col-sm">
                <div class="contact-address">
                    <div class="contact-title">
                    <h1 data-aos="flip-down" data-aos-duration="1500">Contact-Us</h1>
                    <p data-aos="flip-down" data-aos-duration="1500">We have completed over a 130+ projects for 68+ clients  in less than eight years of 
                        operation in India. We’d love to work on yours dream ptoject to live! Get in touch with us
                         today and let's start a discussion, all consultations are free.</p>
                </div>
                <div class="contact-info">
                    <div class="office-address">
                        <h3  data-aos="flip-down" data-aos-duration="1500"><span class="icon-map-marked-alt"></span><strong>Address:</strong></h3>
                        <p data-aos="flip-down" data-aos-duration="1500">142/B 26Th Main, 39th Cross Rd, Jayanagara 9th Block, Bengaluru, Karnataka 560069</p>
                    </div>

                    <div class="contact-mail">
                        <h3 data-aos="flip-down" data-aos-duration="1500"> <span class="icon-envelope"></span><strong>Mail:</strong></h3>
                        <p data-aos="flip-down" data-aos-duration="1500">detailinteriors6@gmail.com</p>
                    </div>

                    <div class="contact-phone">
                        <h3><span class="icon-phone-alt" data-aos="flip-down" data-aos-duration="1500"></span><strong>Phone:</strong></h3>
                        <p data-aos="flip-down" data-aos-duration="1500">+91 99003 97866</p>
                    </div>
                </div>
            </div>
            </div>

            <div class="col-sm">
            <div class="contact-form">
                <form action="# " (submit)="sendEmail($event)">
                    <div class="input-field">
                        <input type="text" placeholder="Your name" autocomplete="off" name="user_name" required>
                    </div>

                    <div class="input-field">
                        <input type="email" placeholder="Your email" autocomplete="off" name="user_email" required>
                    </div>

                    <div class="input-field">
                        <input type="number" placeholder="Phone number" autocomplete="off" name="user_phone" required>
                    </div>

    

                    <div class="textarea-field">
                        <textarea name="textarea" id="textarea" placeholder="Your message" name="message" required></textarea>
                    </div>

                    <div class="button-field mb-2" data-aos="flip-down" data-aos-duration="1500" >
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
    </div>

    <!-- contact section end -->


   
<!--Google map-->
<div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="https://maps.google.com/maps?q=142,+26th+Main+Rd,+Jayanagara+9th+Block,+Jayanagar,+Bengaluru,+Karnataka&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
      style="border:0" allowfullscreen></iframe>
</div>
  
<!--Google Maps-->


  


