<div class="parallax"></div>


<div class="container mb-4" id="container">
    <div class="row">
     
      <div class="col-sm mt-3" data-aos="zoom-in" data-aos-duration="1500">
        <img class="card-img h-75 " src="/assets/Building.jpg" alt="Card image"/>

      </div>

      <div class="col-sm">
        <div class="card-body-right ms-4">
          <h4 class="card-title" style="color: black; font-size: 40px; margin-bottom: 20px; font-weight: 1000;" data-aos="zoom-in-down" data-aos-duration="1500">Building Renovation Project</h4>
          <p class="card-text" style="word-spacing: 6px" data-aos="fade-left" data-aos-duration="1500">
            Building large manufacturing facilities and factories is a challenging undertaking in that such projects are usually very complex and carry significant risks. Manufacturing and Industrial 
            construction services, done correctly, take into consideration how the factory will gather and concentrate its resources of laborers, capital goods and plant design
                </p>
               <P class="card-text" style="word-spacing: 6px" data-aos="fade-up-left" data-aos-duration="1500"> Our expert team works on applying for building permits, providing temporary utilities 
                on site, taking all the commands of the property, managing organisation, a detail survey of the site, creating schedules and maintaining the cash flow. </P>

                <p class="card-text" style="word-spacing: 6px" data-aos="fade-up" data-aos-duration="1500">The client doesn’t have the time and resources for the level of involvement a project demands and a turnkey service provider, who is well qualified to design a
                 nd execute the project, becomes a single point of contact for the client.  you will need to obtain an architect or engineer’s plan to be eligible for a building permit. The architects 
                 are also there to help you put your ideas on paper and to propose ideas for renovation plans for your commercial or industrial building. They will offer independent advice on your project
                  with a professional perspective that will allow you to arrive at the optimal design solution.
                </p>
          
        </div>
    </div>
      
      </div> 
</div>
