
<div class="parallax"></div>


<div class="container mb-4" id="container">
    <div class="row">
     
      <div class="col-sm mt-3" data-aos="zoom-in" data-aos-duration="1500">
        <img class="card-img h-75 " src="/assets/Commercial.jpg" alt="Card image"/>

      </div>

      <div class="col-sm">
        <div class="card-body-right ms-4">
          <h4 class="card-title" style="color: black; font-size: 40px; margin-bottom: 20px; font-weight: 1000;" data-aos="zoom-in-down" data-aos-duration="1500">Commercial Turnkey Project</h4>
          <p class="card-text" style="word-spacing: 6px" data-aos="fade-left" data-aos-duration="1500">
                  We  work in collaboration with the client for their architectural and interior 
                requirements. Corporate interiors and industrial architecture requires an understanding of the 
                client’s business strategy, and reflecting the same in the design in a manner that is functional,
                ergonomic, and aesthetic at the same time.
                </p>
               <P class="card-text" style="word-spacing: 6px" data-aos="fade-up-left" data-aos-duration="1500"> By definition, a turnkey interior design contract is an integrated solution where one person controls and manages the entire interior design project from start to finish; reducing the level of
                stress and work involved for the owner. It provides end to end design solutions and provides the client with a finished product. Along with the design, a project requires efficient coordination between designers, civil engineers,
                electrical and plumbing contractors, labor, painters, welders, etc. </P>

                <p class="card-text" style="word-spacing: 6px" data-aos="fade-up" data-aos-duration="1500">The client doesn’t have the time and resources for the level of involvement a project demands and a turnkey service provider, who is well qualified to design a
                 nd execute the project, becomes a single point of contact for the client. 
                </p>
          
        </div>
    </div>
      
      </div> 
</div>


