
   <!-- hero section start -->
   <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner ">
        <div class="carousel-item carousel-item1 active" id="#carousel-item">
            <div class="carousel-caption d-block">
                <h5 class="text animate__animated animate__fadeInDown"
                    style="animation-duration: 1.7s; animation-delay: 0.6s text">
                    <i class="fas fa-quote-left fa " style="color: #ef803b;" ></i>  Designs Built <br> to Inspire 
                    <i class="fas fa-quote-right fa " style="color: #ef803b;"  ></i> 
                </h5>
           
                <p class="animate__animated animate__fadeInDown"
                    style="animation-duration: 1.7s; animation-delay: 1.7s">
                   
                </p>
            </div>
        </div>

        <div class="carousel-item carousel-item2" id="#carousel-item">
            <div class="carousel-caption d-block">
                <h5 class=" text animate__animated animate__fadeInDown"
                    style="animation-duration: 1.7s; animation-delay: 0.6s text"> 
                    <i class="fas fa-quote-left fa-1x " style="color: #ef803b;" ></i> Luxury Interiors <br> In India
                    <i class="fas fa-quote-right fa-1x " style="color: #ef803b;" ></i> </h5>
                <p class="animate__animated animate__fadeInDown"
                    style="animation-duration: 1.7s; animation-delay: 1.7s">
                   
                </p>
            </div>
        </div>

        <div class="carousel-item carousel-item3" id="#carousel-item">
            <div class="carousel-caption d-block">
                    <h5 class="text animate__animated animate__fadeInDown"
                    style=" animation-duration: 1.7s; animation-delay: 0.6s text">
                    <i class="fas fa-quote-left fa "  style="color: #ef803b;"> </i> We curate
                    Time <br> less spaces <i class="fas fa-quote-right fa "  style="color: #ef803b;"> </i>
                  </h5>
                <p class="animate__animated animate__fadeInDown"
                    style="animation-duration: 1.7s; animation-delay: 1.7s">
                  
                </p>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> 
<!-- hero section end -->

  <!-- our corporate logo start  -->
  <div style="margin-top: 10px; margin-left: 10px;">
    <div class="container">
      <h3 class="levbitz_subtitle hr-lines-clientele" data-aos="fade-right" data-aos-duration="2000">Our Clientele </h3>
    </div>
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="/assets/LOGOS/1614335433221.jpg" alt="" class=" " width="" height=""> &nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/ae0d2148587447.560836cbe4077.jpg" alt="" width="" height="">&nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/dd.png" alt="" width="" height="">&nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/WhatsApp Image 2023-01-16 at 2.08.09 PM.jpeg" alt="" width="" height="120">&nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/download.jpg" alt="" width="" height="">&nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/WhatsApp Image 2023-01-16 at 2.15.41 PM.jpeg" alt="" width=" " height="">&nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/dwScPOVh_400x400.jpg" alt="" width="" height="">&nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/E.png" alt="" width="" height="">&nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/ff.png" alt="" width="" height="">&nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/g.png" alt="" width="" height="">&nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/images.png" alt="" width="" height="">&nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/L.jpg" alt="" width="" height="">&nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/Saudi-Telecom_wide.jpg" alt="" width="" height="">&nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/T.png" alt=""  width="" height="">&nbsp;&nbsp;&nbsp;
        </div>
        <div class="slide">
          <img src="/assets/LOGOS/unnamed.png" alt=""  width="" height="">
        </div>
      </div>
    </div>
    </div>
  <!-- our corporate logo end  -->

     <!-- Why Did?   -->
<div class="container    "  >
  <div class="containers " id="hr-lines-did" data-aos="fade-right" data-aos-duration="2000"> Why <span> D!<span>D?</span></span> </div>
  

  <div class="row ms-3 ps-5 text-uppercase "> 
    <div class="col-md-6">
      <img src="/assets/Did/quality-service.png" width="80px" height="80px" data-aos="zoom-in-up" data-aos-duration="2000" >
      <figcaption class="figure-caption ms-2 mt-3 " style="color: rgb(26, 20, 20);" data-aos="fade-right" data-aos-duration="2000"><h3>Quality-Standards</h3> </figcaption>
      <figcaption class="figure-caption" style="margin-left: 10px;" data-aos="fade-up" data-aos-duration="2000">We at Did believe in delivering quality services and providing a hassle-free experience of curating your dream spaces. </figcaption>
    </div>
    

    <div class="col-md-6">
      <img src="/assets/Did/india.png" width="80px" height="80px" data-aos="zoom-in-up" data-aos-duration="2000">
      <figcaption class="figure-caption ms-2 mt-3 " style="color: rgb(26, 20, 20);" data-aos="fade-left" data-aos-duration="2000"><h3>Pan-India projects</h3> </figcaption>
      <figcaption class="figure-caption" style="margin-left: 10px;" data-aos="fade-up" data-aos-duration="2000">We at DID that does business with customers across India (East, West, South & North) 
        Catering best services & high-quality designs across nation.
         </figcaption>
    </div>
    <br>
    <div class="col-md-6">
      <img src="/assets/Did/cooperation.png" width="80px" height="80px" class="mt-3" data-aos="zoom-in-up" data-aos-duration="2000">
      <figcaption class="figure-caption ms-2 mt-3" style="color: rgb(26, 20, 20);" data-aos="fade-right" data-aos-duration="2000"><h3>International Exposure</h3> </figcaption>
      <figcaption class="figure-caption" style="margin-left: 10px;" data-aos="fade-up" data-aos-duration="2000">We feel that the spaces need to reflect the persona of the people who utilize them and thereby we make tailor-made designs to suit your style such that they complement your sense of style.</figcaption>
    </div>
    <br>
    <div class="col-md-6">
      <img src="/assets/Did/check.png " width="80px" height="80px" class="mt-3" data-aos="zoom-in-up" data-aos-duration="2000">
      <figcaption class="figure-caption ms-2 mt-3 " style="color: rgb(26, 20, 20);" data-aos="fade-left" data-aos-duration="2000"><h3>Hassle-Free Experience </h3> </figcaption>
      <figcaption class="figure-caption" style="margin-left: 10px;" data-aos="fade-up" data-aos-duration="2000">We'll make sure to attend to all of your service-related queries, even after the project has attained completion. </figcaption>
    </div>
  </div>
</div>

<br>
<br>



   <!-- our process start -->

<section class="our_process mb-4">
  <div class="container">
    <div class="">
      <div class="text-align-center ">
      <h3 class="heading  " id="hr-lines-process" data-aos="fade-up" data-aos-duration="2000">Our Process</h3>
      
      </div>
        <div class="our_process_cards" data-aos="fade-up"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
          <img src="/assets/1.svg" alt=""  >
       </div>
      <!-- <div class="our_process_cards_desk">
          <img src="/assets/2.svg" alt="" width="100%">
      </div> -->
    </div>
  </div>
</section>

<!-- our process end -->


<!-- our project gallery start -->
<section class="our_project  "> 
  

   <div class="container-xxl gallery ">
    <div class="section-title"  id="hr-line-project"  >
        <h1 class="heading"  data-aos="zoom-in-right" data-aos-duration="1400">Our Projects  </h1>
    </div>

    <div class="wrapper">
        

        <div class="filter-items" >
            <div class="filter-content" data-item="interior" data-aos="fade-right" data-aos-duration="400">
                <!-- <img src="/assets/did images/IMG_20230111_182757.jpg" alt=""> -->
                
                <img class="gallery_img" src="/assets/Our-project/1.jpeg">
                <!-- <p class="hover-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus
                    exercitationem dolorum sit ipsum saepe provident vel repellat reprehenderit.</p>
                <div class="project-title-area">
                    <p class="project-title">Project Title Here</p>
                    <p class="project-status">Stauts</p>
                </div> -->

            </div>

            <div class="filter-content" data-item="interior" data-aos="fade-up" data-aos-duration="400">
                <!-- <img src="/assets/did images/IMG_20230111_183148_LL.jpg" alt=""> -->
                <img src="/assets/Our-project/2.jpeg">
                <!-- <p class="hover-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus
                    exercitationem dolorum sit ipsum saepe provident vel repellat reprehenderit.</p>
                <div class="project-title-area">
                    <p class="project-title">Project Title Here</p>
                    <p class="project-status">Stauts</p>
                </div> -->
            </div>

            <div class="filter-content" data-item="interior" data-aos="fade-right" data-aos-duration="400">
                <!-- <img src="/assets/did images/IMG_20230114_231558_LL.jpg" alt=""> -->
                <img src="/assets/did images/IMG_20230114_230037_LL.jpg">
                <!-- <p class="hover-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus
                    exercitationem dolorum sit ipsum saepe provident vel repellat reprehenderit.</p>
                <div class="project-title-area">
                    <p class="project-title">Project Title Here</p>
                    <p class="project-status">Stauts</p>
                </div> -->
            </div>

            <div class="filter-content" data-item="interior" data-aos="fade-up" data-aos-duration="400">
                <!-- <img src="/assets/did images/IMG_20230114_230114_LL.jpg" alt=""> -->
                <img src="/assets/Our-project/4.jpeg">
                
                <!-- <p class="hover-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus
                    exercitationem dolorum sit ipsum saepe provident vel repellat reprehenderit.</p>
                <div class="project-title-area">
                    <p class="project-title">Project Title Here</p>
                    <p class="project-status">Stauts</p>
                </div> -->
            </div>

            <div class="filter-content" data-item="interior" data-aos="fade-right" data-aos-duration="400">
                <!-- <img src="/assets/did images/IMG_20230114_230220_LL.jpg" alt=""> -->
                <img src="/assets/did images/IMG_20230114_225917_LL.jpg">
                <!-- <p class="hover-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus
                    exercitationem dolorum sit ipsum saepe provident vel repellat reprehenderit.</p>
                <div class="project-title-area">
                    <p class="project-title">Project Title Here</p>
                    <p class="project-status">Stauts</p>
                </div> -->
            </div>

            <div class="filter-content" data-item="interior" data-aos="fade-up" data-aos-duration="400">
                <!-- <img src="/assets/did images/IMG_20230114_231402_LL.jpg" alt=""> -->
                <img data-u="image" src="/assets/did images/IMG_20230114_230021_LL.jpg">
                <!-- <p class="hover-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus
                    exercitationem dolorum sit ipsum saepe provident vel repellat reprehenderit.</p>
                <div class="project-title-area">
                    <p class="project-title">Project Title Here</p>
                    <p class="project-status">Stauts</p>
                </div> -->
            </div>

            <div class="filter-content" data-item="construction" data-aos="fade-right" data-aos-duration="400">
                <!-- <img src="/assets/did images/IMG_20230114_231502_LL.jpg" alt=""> -->
                <img src="/assets/Our-project/5.jpeg">
                <!-- <p class="hover-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus
                    exercitationem dolorum sit ipsum saepe provident vel repellat reprehenderit.</p>
                <div class="project-title-area">
                    <p class="project-title">Project Title Here</p>
                    <p class="project-status">Stauts</p>
                </div> -->
            </div>
            
            <div class="filter-content" data-item="construction" data-aos="fade-up" data-aos-duration="400">
                <!-- <img src="/assets/did images/IMG_20230114_231546_LL.jpg" alt=""> -->
                <img class="gallery_img" src="/assets/Our-project/3.jpeg">
                <!-- <p class="hover-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus
                    exercitationem dolorum sit ipsum saepe provident vel repellat reprehenderit.</p>
                <div class="project-title-area">
                    <p class="project-title">Project Title Here</p>
                    <p class="project-status">Stauts</p>
                </div> -->
            </div>

           
          

          

        
        </div>
    </div>
</div>

</section>


<!-- our project gallery end -->



<br><br>

<section class="gradient-custom"style="color: #000; background-color: #f3f1f1;">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="fw-bold mb-4" data-aos="fade-right" data-aos-duration="1500">Testimonials</h3>
        <p class="mb-4 pb-2 mb-md-5 pb-md-0" data-aos="fade-right" data-aos-duration="1500">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
          numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
          quisquam eum porro a pariatur veniam.
        </p>
      </div>
      <div class="col-md-12">
        
        <div class="text-center mb-4 pb-2">
          <i class="fas fa-quote-left fa-3x " style="color: #ef803b;" ></i>
        </div>

        <div class="card">
          <div class="card-body px-4 py-5">
            <!-- Carousel wrapper -->
            <div id="carouselDarkVariant" class="carousel slide carousel-dark" data-mdb-ride="carousel">
              <!-- Indicators -->
              <div class="carousel-indicators mb-0">
                <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="1"
                  aria-label="Slide 1"></button>
                <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="2"
                  aria-label="Slide 1"></button>
              </div>

              <!-- Inner -->
              <div class="carousel-inner pb-5">
                <!-- Single item -->
                <div class="carousel-item active">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center rvw-img">
                          <img src="/assets/Rating clients images/women2.jpg"
                            class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                            height="200" />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                          <h4 class="mb-4" >Maria Smantha - Web Developer</h4>
                          <p class="mb-0 pb-3" >
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                            aliquam amet animi blanditiis consequatur debitis dicta
                            distinctio, enim error eum iste libero modi nam natus
                            perferendis possimus quasi sint sit tempora voluptatem. Est,
                            exercitationem id ipsa ipsum laboriosam perferendis.
                          </p>
                        
                        <ul class="list-unstyled d-flex justify-content-center">
                          <li>
                            <i class="fas fa-star fa-sm text-info"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-info"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-info"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-info"></i>
                          </li>
                          <li>
                            <i class="far fa-star fa-sm text-info"></i>
                          </li>
                        </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center rvw-img">
                          <img src="/assets/Rating clients images/Women3.jpg"
                            class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                            height="200" />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                          <h4 class="mb-4">Lisa Cudrow - Graphic Designer</h4>
                          <p class="mb-0 pb-3">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque
                            ipsa quae ab illo inventore veritatis et quasi architecto
                            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                            quia voluptas sit aspernatur.
                          </p>
                          <ul class="list-unstyled d-flex justify-content-center ">
                            <li>
                              <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                              <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                              <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                              <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                              <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                          </ul>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center rvw-img">
                          <img src="/assets/Rating clients images/Man.jpg"
                            class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                            height="200" />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                          <h4 class="mb-4">John Smith - Marketing Specialist</h4>
                          <p class="mb-0 pb-3">
                            The vero eos et accusamus et iusto odio dignissimos qui
                            blanditiis praesentium voluptatum deleniti atque corrupti quos
                            dolores et quas molestias excepturi sint occaecati cupiditate
                            non provident, similique sunt in culpa qui officia mollitia
                            animi id laborum et dolorum fuga.
                          </p>
                          <ul class="list-unstyled d-flex justify-content-center">
                            <li>
                              <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                              <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                              <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                              <i class="far fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                              <i class="far fa-star fa-sm text-info"></i>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Inner -->

              <!-- Controls -->
              <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant"
                data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant"
                data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- Carousel wrapper -->
          </div>
        </div>

        <div class="text-center mt-4 pt-2">
          <i class="fas fa-quote-right fa-3x " style="color: #ef803b;" ></i>
        </div>
      </div>
    </div>
  </div>
</section>
