
<div class="parallax"></div>

 <div class="text  "> 
  Corporate-Portfolio
 </div>
 <div class="hr-lines-corporate_port"></div>


<div class="filter filter-basic">
	
	<div class="filter-gallery">
	  <div class="row">
		<div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-right" data-aos-duration="1500">
			  <img src="/assets/Images/1.jpeg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="architecture">
			<div class="item-content" data-aos="fade-down" data-aos-duration="1500">
			  <img src="/assets/Images/2.jpeg" alt="image" class="img-fluid ">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="food">
			<div class="item-content" data-aos="fade-up" data-aos-duration="1500">
			  <img src="/assets/Images/3.jpeg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="architecture">
			<div class="item-content" data-aos="fade-left" data-aos-duration="1500">
			  <img src="/assets/Images/4.jpeg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-right" data-aos-duration="1500">
			  <img src="/assets/Images/6.jpeg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="architecture">
			<div class="item-content" data-aos="fade-up" data-aos-duration="1500">
			  <img src="/assets/Images/5.jpeg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="architecture">
			<div class="item-content" data-aos="fade-down" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230110_191125-01.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content"data-aos="fade-left" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230111_183225_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="food" >
			<div class="item-content" data-aos="fade-right" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230111_183307_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="architecture">
			<div class="item-content" data-aos="fade-down" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_225822_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="food">
			<div class="item-content" data-aos="fade-up" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_225841_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="food" >
			<div class="item-content" data-aos="fade-left" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_225857_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="food" >
			<div class="item-content" data-aos="fade-right" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_230142_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-up" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_230200_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="architecture">
			<div class="item-content" data-aos="fade-down" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_230220_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
		<div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-left" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230111_183127_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-right" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230111_183148_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-down" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_225103_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-up" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_225743_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-left" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_225801_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-right" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_225933_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-down" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_230052_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-up" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_230114_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-left" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_231558_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-right" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_231615_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-down" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230111_183209_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-up" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_231147_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-left" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_231402_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-right" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_231416_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-down" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_231430_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-up" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_231444_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-left" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_231502_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-right" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_231518_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-up" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_231534_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-down" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_231546_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div>
    <div class="col-md-3 my-1">
		  <div class="" data-category="nature">
			<div class="item-content" data-aos="fade-left" data-aos-duration="1500">
			  <img src="/assets/did images/IMG_20230114_231416_LL.jpg" alt="image" class="img-fluid">
			</div>
		  </div>
		</div> 
	  </div>
	</div>
</div>
